In [9]:
import pandas as pd
import yfinance as yf

In [10]:
# Get price data from Yahoo! Finance for S&P 500, NASDAQ 100, and RUSSELL 2000
market_data_df = yf.download(
    '^GSPC ^NDX ^RUT'
)

# # rename columns from tickers to descriptive names
market_data_df.rename(
    columns={
        '^NDX': 'NASDAQ 100',
        '^RUT': 'RUSSELL 2000',
        '^GSPC': 'SP 500', 
    },
    inplace=True
)

market_data_df.drop(['Adj Close', 'Volume'], axis='columns', inplace=True)
market_data_df.dropna(inplace=True)
market_data_df.columns = market_data_df.columns.swaplevel(0, 1)
market_data_df.sort_index(axis=1, inplace=True)
market_data_df.head()

[*********************100%***********************]  3 of 3 completed

            NASDAQ 100                                     RUSSELL 2000  \
                 Close        High         Low        Open        Close
Date
1987-09-10  205.164993  205.345001  201.600006  201.600006   168.970001
1987-09-11  206.365005  206.895004  204.949997  205.164993   170.539993
1987-09-14  205.160004  207.070007  204.339996  206.365005   170.429993
1987-09-15  202.255005  205.160004  201.675003  205.160004   169.199997
1987-09-16  201.300003  203.440002  201.240005  202.255005   168.919998

                                                    SP 500              \
                  High         Low        Open       Close        High
Date
1987-09-10  168.979996  167.440002  167.440002  317.130005  317.589996
1987-09-11  170.539993  168.750000  168.970001  321.980011  322.450012
1987-09-14  170.949997  170.149994  170.529999  323.079987  323.809998
1987-09-15  170.440002  169.130005  170.419998  317.739990  323.079987
1987-09-16  170.029999  168.820007  169.309998  314.859985  319.500000


                   Low        Open
Date
1987-09-10  313.920013  313.920013
1987-09-11  317.130005  317.140015
1987-09-14  320.399994  322.019989
1987-09-15  317.630005  323.070007
1987-09-16  314.609985  317.750000

In [11]:
market_data_df.to_csv('data/markets_ohlc.csv')